<!DOCTYPE html>
<html>
  <head>
    <title>Heroes!</title>
    <style>
      fieldset {
          border: none;
          border-bottom: 1px solid #eee;
          margin-bottom: 10px;
        }
      fieldset legend {font-weight: bold;}
    </style>
  </head>

  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>