
<form method="post" action="/teams">
    <%# <div> %>
    <h1>Create a Team and Heroes!</h1>
    <br>
    <div>
    Team Name: <input type="text" name="team[name]">
    </div>
    <div>
    Team Motto: <input type="text" name="team[motto]">
    </div>
    
    <h2>Hero 1</h2>
    <div>Hero's Name: <input type="text" id="member1_name" name="team[member][][name]"></div>
    <div>Hero's Power: <input type="text" id="member1_power" name="team[member][][power]"></div>
    <div>Hero's Biography: <input type="text" id="member1_bio" name="team[member][][bio]"></div>
    
    <h2>Hero 2</h2>
    <div>Hero's Name: <input type="text" id="member2_name" name="team[member][][name]"></div>
    <div>Hero's Power: <input type="text" id="member2_power" name="team[member][][power]"></div>
    <div>Hero's Biography: <input type="text" id="member2_bio" name="team[member][][bio]"></div>
    
    <h2>Hero 3</h2>
    <div>Hero's Name: <input type="text" id="member3_name" name="team[member][][name]"></div>
    <div>Hero's Power: <input type="text" id="member3_power" name="team[member][][power]"></div>
    <div>Hero's Biography: <input type="text" id="member3_bio" name="team[member][][bio]"></div>
    
    <button type="submit" id="submit" name="submit">Submit</button>
</form>